.d-flex {
     margin-left: 571px;
}
.navbar-nav{
    margin-left: 50px;
}

.ha-2{
    font-weight: 300;
    font-size: 30px;
}
.p-text{
    margin-bottom: 275px;
    font-size: 13px;
}span{
    font-size: 13px;
}
.hea-4{
    color: #2F9265;
    font-size: 17px;
}
.btn-2{
    width: 112px;
}
.sec-6{
    background-color: #F8F9FA;
}
.sec-7 {
    margin-left: 560px;
    margin-top: 74px;
}
.footer-text h5{
    color: #fff;
    text-align: center;
    font-size: 15px;
}
